body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier Prime', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000; /* fallback color if particles.js fails to load */
    color: #ffffff;
    user-select: none; /* Prevents text from being selected */
    z-index: 3;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 20%;
    height: auto;
    z-index: 3;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #007BFF; /* text-blue color */
    text-align: center;
    z-index: 3;

}

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

}

input[type="file"] {
    display: none;  /* hide the default file input */
}

label[for="file"] {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
    text-decoration: none; /* Remove underline from buttons */
}

label[for="file"]:hover {
    transition: all 0.3s ease;
    background: #0b63f3;
    border: 2px solid #0b63f3;
}


input[type="submit"] {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
    text-decoration: none; /* Remove underline from buttons */
    z-index: 3;
}

input[type="submit"]:hover {
    transition: all 0.3s ease;
    background: #0b63f3;
    border: 2px solid #0b63f3;
    z-index: 3;
}

p {
    margin: 0 0 10px 0;
    z-index: 3;

}
